*.js text working-tree-encoding=UTF-8 eol=lf
*.html text working-tree-encoding=UTF-8 eol=lf
*.css text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.txt text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
*.ps1 text working-tree-encoding=UTF-8 eol=crlf
